<style>
  IMG.rep-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div>
  <img class="rep-photo" src="<%= @no_img %>" width="400" height="400">
  <h1 class="text-center"><%= @representative.name %></h1>
  <h2 class="text-center"><%= @representative.party %></h2>
  <h3 class="text-center">
    <% if @representative.line1.present? %>
      <%= @representative.line1 %>
    <% end %>
    <% if @representative.line2.present? %>
      <%= @representative.line2 %>
    <% end %>
    <% if @representative.line3.present? %>
      <%= @representative.line3 %>
    <% end %>
    <%= @representative.city %>
    <%= @representative.state %>
    <%= @representative.zip %>
  </h3>
</div>
